langchain-google-genai
langgraph
langchain-core
langchain
pydantic
streamlit
elasticsearch
typing-extensions
upstash-redis
networkx
spacy
it_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/it_core_news_sm-3.7.0/it_core_news_sm-3.7.0.tar.gz